{% extends 'base_with_container.html' %}

{% block page_content %}
    <style>
        .card {
            height: 100%;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .buttons-container {
            margin-top: 5px;
        }

        .buttons-container .btn-сustom {
            background: #343a40;
            min-width: calc(92% / 3);
            color: darkgrey;
            margin-right: 5px;
        }

        .btn-сustom {
            background: #343a40;
            color: darkgrey;
            margin-right: 5px;
        }

        .btn-сustom:hover {
            color: white;
        }

        .danger:hover {
            background: #e50404;
        }

        #add_album {
            margin-bottom: 10px;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            {% if session['role_id'] == 2 %}
                <a href="{{ url_for('add_album') }}" id="add_album" class="btn btn-сustom">Add Album</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% for album in albums %}
            <div class="col-md-4 mb-4">
                <div class="card" style="background: #0a0a0a">
                    {% if album.cover %}
                        <img src="{{ url_for('static', filename=album.cover) }}" class="card-img-top"
                             alt="{{ album.title }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default_cover.jpg') }}" class="card-img-top"
                             alt="Default Cover">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ album.title }}</h5>
                        <p class="card-text">{{ album.description | truncate(100) }}</p>

                        <div class="buttons-container">
                            <a href="{{ url_for('album_details', album_id=album.id) }}"
                               class="btn btn-сustom">Details</a>
                            {% if session['role_id'] == 2 %}
                                <a href="{{ url_for('edit_album', album_id=album.id) }}" class="btn btn-сustom">Edit</a>
                                <a href="{{ url_for('delete_album', album_id=album.id) }}" class="btn btn-сustom danger"
                                   type="submit">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
