{% extends 'base_with_container.html' %}

{% block page_content %}
    <div id="page" class="">
        <main id="main-content">
            <section id="custom-page" class="page content-type-blocks">
                <div class="single-post ">
                    <article>
                        <div class="post-contents ">

                            <div class="wp-block-cover alignfull is-light" style="min-height:800px"><span
                                    aria-hidden="true"
                                    class="wp-block-cover__background has-background-dim-60 has-background-dim"></span>
                                <div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
                                    <h2 class="alignwide has-white-color has-text-color wp-block-heading"
                                        style="font-size:64px">IMAGINE
                                        DRAGONS</h2>


                                    <div class="wp-block-columns alignwide is-layout-flex wp-container-3 wp-block-columns-is-layout-flex">
                                        <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                            <div class="wp-block-cover" style="min-height:496px"><span
                                                    aria-hidden="true"
                                                    class="wp-block-cover__background has-black-background-color has-background-dim-100 has-background-dim"></span>
                                                <div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
                                                    <h3><b>2008–2011: early years</b></h3>
                                                    <p class="has-white-color has-text-color">
                                                        <br>
                                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Imagine_Dragons_-_Ilosaarirock_2013_2.jpg/1920px-Imagine_Dragons_-_Ilosaarirock_2013_2.jpg"
                                                             class="card-img-top">
                                                        In 2008, lead singer Dan Reynolds met drummer Andrew Tolman at
                                                        Brigham Young University, where they were both students.
                                                        Reynolds and Tolman recruited Andrew Beck, Dave Lemke, and
                                                        Aurora Florence to play guitar, bass, and piano, respectively,
                                                        for their band. Their name is an anagram for a phrase known only
                                                        to the members of the group, which Reynolds stated was approved
                                                        by each member. The five-piece recorded demos that they uploaded
                                                        to MySpace that year, but Beck and Florence left the band later
                                                        on. In 2009, Tolman recruited his long-time high school friend
                                                        Wayne Sermon, who had graduated from Berklee College of Music,
                                                        to play guitar. Tolman later recruited his wife, Brittany
                                                        Tolman, to sing back-up and play keys, and the band started
                                                        playing shows together again. Lemke left the band shortly
                                                        thereafter, leading Sermon to recruit another Berklee music
                                                        student, Ben McKee, to join as their bassist and complete the
                                                        line-up. The band gained a significant following in their
                                                        hometown of Provo, Utah, before the members moved to Las Vegas,
                                                        the hometown of Dan Reynolds, where they recorded and released
                                                        their first three EPs.

                                                        The band released a self-titled EP, Imagine Dragons, on
                                                        September 1, 2009, and Hell and Silence on March 10, 2010, both
                                                        recorded at Battle Born Studios in Las Vegas. Six months after
                                                        releasing their third EP, It's Time, on March 12, 2011, they
                                                        signed a record deal with Interscope Records on November 18,
                                                        2011.

                                                        They got their first big break when Train's frontman, Pat
                                                        Monahan, fell ill just before the Bite of Las Vegas Festival in
                                                        2009. Imagine Dragons was called in to fill in and performed to
                                                        a crowd of more than 26,000 people. Local accolades, including
                                                        "Best CD of 2011" (Vegas SEVEN), "Best Local Indie Band 2010"
                                                        (Las Vegas Weekly), "Las Vegas' Newest Must-See Live Act" (Las
                                                        Vegas CityLife), and more, propelled the band in a positive
                                                        direction. In November 2011, they signed with Interscope Records
                                                        and began working with English Grammy Award-winning producer
                                                        Alex da Kid. Eventually, the Tolmans left the group. Drummer
                                                        Daniel Platzman and keyboardist Theresa Flaminio were recruited
                                                        by McKee in August 2011, prior to the band's record deal.
                                                        Flaminio departed from the group around the time of the band's
                                                        deal with Interscope, leaving the band as a four-piece.
                                                    </p>

                                                    <h3><b>2012–2014: Night Visions</b></h3>
                                                    <p class="has-white-color has-text-color">
                                                        <br>
                                                        <img src="https://blogs.sap.com/wp-content/uploads/2013/06/id_approved_2013_227313.jpg"
                                                             class="card-img-top">
                                                        The band worked closely with Alex da Kid, with whom they
                                                        recorded their first major-label release at Westlake Recording
                                                        Studios in West Hollywood, California. An EP entitled Continued
                                                        Silence was released on February 14, 2012, digitally and peaked
                                                        at number 40 on the Billboard 200. The band also released an EP
                                                        titled Hear Me in 2012.

                                                        Shortly after, "It's Time" was released as a single and peaked
                                                        at number 15 on the Billboard Hot 100. The music video debuted
                                                        on April 17, 2012, on all MTV affiliates and was subsequently
                                                        nominated for an MTV Video Music Award in the "Best Rock Video"
                                                        category. "It's Time" was certified 7× Platinum by the RIAA.

                                                        The band finished recording their debut album Night Visions in
                                                        the summer of 2012 at Studio X inside Palms Casino Resort and
                                                        released the album in the United States on September 4, 2012. It
                                                        peaked at No. 2 on the Billboard 200 chart with first-week sales
                                                        in excess of 83,000 copies, the highest charting for a debut
                                                        rock album since 2006. The album also reached No. 1 on the
                                                        Billboard Alternative and Rock Album charts, as well as the top
                                                        ten on various international album charts. It won a Billboard
                                                        Music Award for Top Rock Album and was nominated for the Juno
                                                        Award for International Album of the Year. Night Visions is
                                                        certified platinum in the US by the RIAA, as well as in several
                                                        other countries. The album produced several successful tracks,
                                                        including "Radioactive," which reached No. 1 on various charts
                                                        and became one of the best-selling rock songs in digital
                                                        history. The band's singles "Demons" and "On Top of the World"
                                                        also achieved significant success on the charts.

                                                        In 2013, Imagine Dragons embarked on the Night Visions Tour,
                                                        performing across Europe and North America. They also released a
                                                        live album, Live at Independent Records, in April 2013.
                                                    </p>

                                                    <h3><b>2014–2016: Smoke + Mirrors</b></h3>
                                                    <p class="has-white-color has-text-color">
                                                        <br>
                                                        <img src="https://www.hollywoodreporter.com/wp-content/uploads/2015/01/AP430601751010_22.jpg"
                                                             class="card-img-top">
                                                        The idea behind their second studio album, Smoke + Mirrors, was
                                                        to create music and finish it when the band felt satisfied with
                                                        their work. During the Night Visions Tour, they had been writing
                                                        new material and recording demos for the upcoming album. By the
                                                        time they entered the studio, they had 50 demos to work from.

                                                        Prior to the album's release, Imagine Dragons released singles
                                                        for other projects, including "Battle Cry" for the film
                                                        Transformers: Age of Extinction and "Warriors" for the 2014
                                                        League of Legends World Championship.

                                                        On October 24, they revealed the lead single, "I Bet My Life,"
                                                        and released it on October 27. The album Smoke + Mirrors was
                                                        announced on December 16, along with the release of its second
                                                        single, "Gold." "Shots" was released as the third single on
                                                        January 26, 2015.

                                                        The band played at the Mayan Theater in Los Angeles on February
                                                        5, 2015, where they performed live debuts of unreleased songs.
                                                        Smoke + Mirrors was released on February 17 and debuted at
                                                        number one on the Billboard 200 chart. They embarked on a world
                                                        tour in support of the album starting on June 3.

                                                        During the tour, Imagine Dragons released two non-album singles:
                                                        "Roots" and "I Was Me." They also released a cover of "I Love
                                                        You All the Time" by Eagles of Death Metal in support of the
                                                        victims of the Paris attacks. The Smoke + Mirrors Tour ended on
                                                        February 5, 2016, and they released a concert film, Imagine
                                                        Dragons In Concert: Smoke + Mirrors.

                                                        After the tour, the band took a hiatus but released soundtrack
                                                        songs for the films Me Before You and Suicide Squad in 2016.
                                                    </p>

                                                    <h3><b>2016–2020: Evolve and Origins</b></h3>
                                                    <p class="has-white-color has-text-color">
                                                        <br>
                                                        <img src="https://www.udiscovermusic.com/wp-content/uploads/2019/05/Imagine-Dragons-2019-Press-Shot-1000x600.jpg"
                                                             class="card-img-top">
                                                        In September 2016, Imagine Dragons began recording their third
                                                        studio album. They teased the album's release with cryptic
                                                        messages on their Twitter account for several months. They
                                                        released the song "Levitate" for the film Passengers in December
                                                        2016. On February 1, 2017, they released the lead single
                                                        "Believer," which was featured in a Super Bowl ad. "Thunder" was
                                                        released as the album's second single on April 27, 2017. On May
                                                        8, 2017, Imagine Dragons announced their third studio album,
                                                        Evolve, along with the release of the track "Whatever It Takes."
                                                        They embarked on a world tour in support of the album from
                                                        September 2017 to September 2018.

                                                        Evolve was released on June 23, 2017, and reached the top five
                                                        in most countries. The album received mixed critical reception
                                                        but was nominated for Best Pop Vocal Album at the Grammy Awards.
                                                        "Whatever It Takes" won the MTV Video Music Award for Best Rock
                                                        Video in 2018. They also released the singles "Next to Me" and
                                                        "Born to Be Yours" in 2018. On July 12, 2018, they released the
                                                        single "Natural," which became the anthem for the 2018 ESPN
                                                        College Football season. On November 9, 2018, Imagine Dragons
                                                        released their fourth studio album, Origins, featuring the lead
                                                        singles "Natural" and "Zero." The album debuted at number two in
                                                        the US.

                                                        In January 2019, the band performed at the halftime show of the
                                                        2019 College Football Championship game. They released a new
                                                        version of "Believer" featuring rapper Lil Wayne and performed
                                                        it during the show. In June 2019, they released a music pack for
                                                        the virtual reality game Beat Saber featuring ten songs by
                                                        Imagine Dragons. They also released a new version of the song
                                                        "Birds" featuring Italian singer Elisa as the final single from
                                                        Origins. In December 2019, lead singer Dan Reynolds announced a
                                                        break from producing and writing music to focus on fatherhood.
                                                    </p>

                                                    <h3><b>2021–present: Mercury – Acts 1 & 2</b></h3>
                                                    <p class="has-white-color has-text-color">
                                                        <br>
                                                        <img src="https://storage.concert.ua/JWd/2/vw/62982f7bdba10/ba6f.png:31-eventpage-gallery_main-desktop"
                                                             class="card-img-top">
                                                        On March 8, 2021, Imagine Dragons announced the release of two
                                                        singles, "Follow You" and "Cutthroat", which were
                                                        released on March 12. The band began teasing their
                                                        upcoming album which was executively produced by Rick
                                                        Rubin. On June 29, 2021, the band announced the single
                                                        "Wrecked", along with the pre-order for their fifth
                                                        studio album Mercury – Act 1 a day later. The song was
                                                        released on July 2, 2021. Mercury – Act 1 was
                                                        released on September 3, along with the single "Monday". Similar
                                                        to their previous work, the album was met with
                                                        mixed critical reception. It debuted at number nine in the US.
                                                        The album's release coincided with the
                                                        announcement of a tour in support of the album.

                                                        In October, the band re-released their first three extended
                                                        plays onto streaming services and digital retailers.
                                                        Each EP features a previously unreleased bonus track. The band
                                                        also released the single "Enemy" featuring rapper
                                                        JID, as part of the soundtrack to the Netflix series Arcane, on
                                                        October 28. It is the second collaboration
                                                        between Imagine Dragons and League of Legends, following
                                                        "Warriors".

                                                        Soon after the release of Mercury – Act 1, the band began
                                                        teasing towards a follow-up album that would also be
                                                        executively produced by Rubin. In January 2022, Reynolds stated
                                                        that the album was "almost done" and would be
                                                        released following the first leg of the Mercury Tour. The tour
                                                        began on February 6 in Miami and concluded on
                                                        September 15 in Los Angeles. On March 11, 2022,
                                                        the band released a single titled "Bones",
                                                        which serves as the lead single to their sixth studio album
                                                        Mercury – Act 2. On April 6, the band announced
                                                        that Mercury – Act 2 would be released on July 1, 2022. The
                                                        18-track album was released as part of a compilation
                                                        album containing both Mercury albums.

                                                        The band released a ten year anniversary expanded edition of
                                                        Night Visions on September 9, 2022 featuring two
                                                        previously unreleased demos, "Love of Mine" and "Bubble". "Love
                                                        of Mine" was released on September 2.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </div>
{% endblock %}